*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#landing-nav{
    display:flex;
    align-items:center;
    justify-content: space-around;
    background-color:rgb(84, 163, 5);
}
#landing-nav li{
    list-style: none;
    margin:5px;
    display: inline-block;
    padding: 10px 20px;
}
#landing-nav a{
    display: block;
    text-decoration:none;
    color:#000;
    align-items: flex-end;
    font-size:18px;
    font-weight:400;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition:all .4s linear.4s;
}
#landing-nav a:hover{
    background-color: aliceblue;
    padding:7px;
    transition: all .4s linear .4s;
    border-radius:10px;

}